/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/

/*=== Colores ===*/
:root{
    --first-color: hsla(217, 100%, 50%, 1);
    --text-color: #121212;
}

/*=== Fuente y tipografia ===*/
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}
h1{
    margin-left: 18%;
}
a{
    text-decoration: none;
}
img{
    max-width: 70%;
    height: auto;
}
/*===== FORM =====*/
.l-form{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/*=== Shapes ===*/
.shape1,
.shape2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.shape1{
    top: -7rem;
    left: -3.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196,196,196,0) 100%);
}
.shape2{
    bottom: -6rem;
    right: -5.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196,196,196,0) 100%);
    transform: rotate(180deg);
}
/*=== Form ===*/
.form{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.form__content_us{
    width: 290px;
}
.form__img{
    display: none;
}
.form__title{
    font-size: var(--big-font-size);
    font-weight: 700;
    margin-bottom: 2rem;
}
.form__div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin-bottom: 2rem;
    padding: .25rem 0;
    border-bottom: 1px solid var(--text-color);
}
/*=== Div focus ===*/
.form__div.focus{
    border-bottom: 1px solid var(--first-color);
}

.form__div-name, .form__div-un, .form__pw, .form__changepw {
    margin-bottom: 2rem;
}

.form__icon{
    font-size: 1.5rem;
    color: var(--text-color);
    transition: .3s;
    opacity: 0%;
}
/*=== Icon focus ===*/
.form__div.focus .form__icon{
    color: var(--first-color);
}

.form__label{
    display: block;
    position: absolute;
    left: -1.4rem;
    top: .25rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: .3s;
}
/*=== Label focus ===*/
.form__div.focus .form__label{
    top: -1.5rem;
    font-size: .875rem;
    color: var(--first-color);
}

.form__div-input{
    position: relative;
}
.form__input{
    position: relative;
    top: 0;
    left: -23px;
    width: 108%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: .2rem ;
    font-size: 1.2rem;
    color: var(--first-color);
    transition: .3s;
}
.form__forgot{
    display: block;
    text-align: right;
    margin-bottom: 2rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    transition: .5;
}
.form__forgot:hover{
    color: var(--first-color);
    transition: .5s;
}
.form__button{
    width: 100%;
    padding: 1rem;
    font-size: 17.5px;
    outline: none;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    background-color: var(--first-color);
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}
.form__button:hover{
    box-shadow: 0px 10px 30px rgba(0,0,0,.12);
}

/*=== Form social===*/
.form__social{
    text-align: center;
    cursor: pointer;
}
.form__social-text{
    display: block;
    font-size: 16px;
    margin: -2rem;
    color: hsla(217, 100%, 50%, 1);
}

.form__social-text:hover{
    border-radius: .5rem;
    color: #8590AD;
}

.alert {
    position: relative;
    top: -10px;
    font-size: 11px;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 25px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: bold
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: 1px;
    right: 15px;
    color: inherit;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #356635
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #2d6987
}

.alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5
}

.alert-warning hr {
    border-top-color: #f8e5be
}

.alert-warning .alert-link {
    color: #a47e3c
}

.alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7
}

.alert-danger hr {
    border-top-color: #e6c1c7
}

.alert-danger .alert-link {
    color: #953b39
}

/*=============== FOOTER ===============*/
.footer {
    background-color: hsla(217, 100%, 50%, 1);
}

.footer__copy {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(45, 4%, 85%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(45, 4%, 75%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(45, 4%, 65%);
}

/*===== MEDIA QUERIS =====*/
@media screen and (min-width: 968px){
    .shape1{
        width: 400px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }

    h1{
        text-align: center;
        margin-left: 0;
    }

    .shape2{
        width: 300px;
        height: 300px;
        right: -6.5rem;
    }

    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
    }
    .form__content{
        position: relative;
        top: -28px;
        width: 320px;
    }
    .form__img{
        display: block;
        width: 700px;
        justify-self: center;
    }
}